<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>sign up</title>
</head>
<body>
    <div class="signup_body">
        <div class="signup_middle">
            <h1>MR-SOFT login</h1>
            <div class="signup_form">
                <h2>create account</h2>
                <form action="">
                    <label for=""></label>
                </form>
            </div>
        </div>
    </div>
    <footer>
        <h5>
            <a href="">copyright @2023 mrsoft accademy of nigeria</a>
        </h5>
        <h5>
            port-harcourt, nigeria
        </h5>
    </footer>
</body>
</html>